<div class="list-group" *ngFor="let booking of bookings">
    <div class="list-group-item mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1  h5">Gast: {{booking.name}}</h5>
            <div class="row ">
                <button routerLink="/editbooking/{{booking.id}}" class="btn btn-sm btn-primary mb-2">Bearbeiten</button>
                <button (click)="deleteBooking(booking)" class="btn btn-sm btn-danger">Löschen</button>
            </div>
        </div>
        <!-- <p class="mb-1">Zeitraum: {{booking.startDate}} - {{booking.startDate}}</p> -->
        <p class="mb-1"> Zeitraum: {{booking.startDate | date: 'dd/MM/yy' }} - {{booking.endDate | date: 'dd/MM/yy'}}
        </p>
        <small>Zimmernr.: {{booking.roomNumber}}</small>
    </div>


</div>