<!-- reactive validation -->
<div class="card">
    <div class="card-header">
        <h5>Buchung hinzufügen/ ändern</h5>
    </div>
    <form [formGroup]="bookingForm" (ngSubmit)="saveBooking()">
        <div class="card-body">
            <div class="row mb-2">
                <!--ID -->
                <div class="col">
                    <label class="form-label" for="BookingId">ID</label>
                    <input formControlName="id" id="BookingId" type="number" class="form-control" />
                    <!-- formControlName bindet an id in bookingForm -->
                </div>
                <!--RoomNumber -->
                <div class="col">
                    <label class="form-label" for="RoomNumber">Zimmernr.</label>
                    <input formControlName="roomNumber" id="RoomNumber" class="form-control" type="number" />
                </div>
            </div>
            <div class="row mb-2">
                <!--Name -->
                <div class="col-6">
                    <label class="form-label" for="Name">Name des Gastes <small>(Vor- und Nachname)</small></label>
                    <input formControlName="name" id="Name" class="form-control" type="text" />
                    <label *ngIf="bookingForm.get('name')?.hasError('minlength')" class="text-danger mt-2">Der
                        Name
                        ist zu
                        kurz!</label>
                </div>
            </div>
            <div class="row mb-2">
                <!--Start Date -->
                <div class="col">
                    <label class="form-label" for="StartDate">Ankunft</label>
                    <input formControlName="startDate" [value]="booking.startDate | date:'yyyy-MM-dd'" id="StartDate"
                        (input)="dateChange($event, true)" class="form-control" type="date" />
                </div>
                <!--End Date -->
                <div class="col">
                    <label class="form-label" for="EndDate">Abreise</label>
                    <input formControlName="endDate" [value]="booking.endDate | date:'yyyy-MM-dd'" id="EndDate"
                        (input)="dateChange($event, false)" class="form-control" type="date" />
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button [disabled]="bookingForm.invalid" type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>

</div>