<!-- Template Validation -->
<form #formSignup="ngForm">
    <div [class.bg-danger]="formSignup.invalid" class="card"> <!-- class binding -->
        <div class="card-header">
            <h5>Event Benachrichtigung</h5>
        </div>

        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <input #inputEmail="ngModel" minlength=5 email name="signupMail" [(ngModel)]="signupMail" required
                        class="form-control" placeholder="Bitte E-Mail Adresse eintragen">
                </div>
            </div>

            <div *ngIf="inputEmail.invalid && (inputEmail.touched || inputEmail.dirty)" class="row mb-2">
                <div class="col">
                    <div *ngIf="inputEmail.errors?.['required']" class="alert alert-danger">
                        E-Mail Adresse ist erforderlich.
                    </div>

                    <div *ngIf="inputEmail.errors?.['minlength']" class="alert alert-danger">
                        Es sind mindestens 5 Zeichen notwendig.
                    </div>
                    <!-- wenn mind. 5 Zeichen erreicht und trotzdem keine gültige E-mail Adresse-->
                    <div *ngIf="inputEmail.errors?.['email'] && !inputEmail.hasError('minlength')"
                        class="alert alert-danger">
                        Das ist keine gültige E-Mail Adresse.
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button [disabled]="formSignup.invalid" (click)="onSubmit()" class="btn btn-primary">Eintragen</button>
        </div>
    </div>
</form>

<!-- Reaktive Validation bei großen Formularen und Datenbankabfrage bei bspw. Nutzernamen -->